* {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
  font-size: 22px;
  text-align: center;
}

body {
  color: white;
  height: 100vh;
  width: 100%;
  background-image: url("img/2fighter.jpg");
  background-size: cover;
}

.visib_hidden { 
  visibility: hidden; 
}

.opacity_0 { 
  opacity: 0;
}

.start {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: fixed;
  background-image: url("img/StarWars_Entry.jpg");
  z-index: 2;
  transition: all 2s ease-in-out;
}

.start_button {
  position: relative;
  padding: 4px 25px;
  top: 18%;
  left: auto;
  right: 1%;
  width: 100px;
  height: 46px;
  text-align: center;
  color: white;
  background-color: #a30029;
  border: 3px solid rgb(253, 124, 156);
  box-shadow: 0px 0px 1px #ff5f87;
  transition: all 1s ease-in-out;
}

.start_button:hover {
  color: #fff;
  background-color: #a30029;
  border: 3px solid #fff;
  cursor: pointer;
}

.start_ani {
  width: 140px;
  color: white;
  background-color: #a30051;
  border: 3px solid #ff90de;
  box-shadow: 0px 0px 25px #d49fae;
  transform: scale(1.15);
}

h2 {
  font-size: 1.45rem;
  background-color: rgb(146, 242, 255);
  color: #000153;
  text-shadow: none;
  margin: 10px;
  padding: 0 15px;
}

#container {
  height: 100vh;
  width: 100%;
  position: relative;
}

#player {
  position: fixed;
  bottom: 0px;
  right: auto;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 20px;
  opacity: 35%;
}

.main {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.main_rows {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main_columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

#chars {
  height: 34px;
  width: 60px;
  margin: 5px 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  border: 2px solid rgb(146, 242, 255);
  background-color: #fff;
  text-align: center;
  opacity: 0.9;
}

#chars:hover, #chars:active {
  border: 2px solid #2c99ff;
}

#chars_btn {
  height: 38px;
  margin: 5px 10px;
  padding: 0 15px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: #ac0050;
  border: 2px solid rgb(255, 77, 225);
  opacity: 0.9;
  cursor: pointer;
}

#chars_btn:hover {
  color: white;
  background-color: #c00f61;
  border: 2px solid #fff;
}

#planets_btn {
  height: 38px;
  margin: 5px 20px 5px 10px;
  padding: 0 15px;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  background-color: #ac0050;
  border: 2px solid rgb(255, 77, 225);
  opacity: 0.9;
  cursor: pointer;
}

#planets_btn:hover {
  color: white;
  background-color: #c00f61;
  border: 2px solid #fff;
} 

.planets-FB_btn {
  height: 38px;
  margin: 5px 10px;
  padding: 0 10px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: #ac0050;
  border: 2px solid rgb(255, 77, 225);
  opacity: 0.9;
  cursor: pointer;
}

.planets-FB_btn:hover {
  color: white;
  background-color: #c00f61;
  border: 2px solid #fff;
} 

#terminal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 6vw;
  
}

.imgConst {
  height: 76px;
  width: 76px;
}

table, tr, th, td {
  margin: 0 10px;
  border-spacing: 0;
  text-align: left;
}

td {
  padding: 0 10px;
  border: 1px solid rgb(61, 136, 146);
}

tr:hover {  
  color: rgb(146, 242, 255); 
  background: rgb(0, 5, 29);
}

.thead, .head td {  
  color: rgb(0, 225, 255); 
  background: rgb(0, 52, 77);
  font-weight: bold;
}